<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <section class="section" style="padding: 25px; margin: 0;">
        <div class="container container-wide">
            <div class="row row-fix justify-content-xl-end row-30">
                <div class="col-xl-10 col-xxl-10">
                    <div class="parallax-text-wrap">
                        <h3 style="text-align:center; background-color:rgb(204, 189, 216); color: white;" ><b>Meet The Participants</b></h3>
                        <span class="parallax-text">FIFA WORLD CUP</span>
                    </div>
                </div>
            </div>
        </div>
    </section>



 
    <img src="/images/wcfifa.jpg " style="width:100% ">




    <section class="section"">
        <div class="container container-wide" >
            <div class="row row-50">
                <div class="col-lg-12 col-xl-12 col-md-12">
                    <div class="tabs-custom tabs-horizontal tabs-line" >
                        <ul class="nav nav-tabs" style="background-color:rgb(150, 183, 201)">
                                                                                <li class="nav-item">
                                    <a class="primary-tab nav-link active" href="#tabs-A" data-toggle="tab">
                                        Group A								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-B" data-toggle="tab">
                                        Group B								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-C" data-toggle="tab">
                                        Group C								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-D" data-toggle="tab">
                                        Group D								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-E" data-toggle="tab">
                                        Group E								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-F" data-toggle="tab">
                                        Group F								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-G" data-toggle="tab">
                                        Group G								</a>
                                </li>
                                                        <li class="nav-item">
                                    <a class="primary-tab nav-link " href="#tabs-H" data-toggle="tab">
                                        Group H								</a>
                                </li>
                                                </ul>
                      
                        <div class="tab-content">
                                                        <div class="tab-pane fade show active" id="tabs-A">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group A</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Qatar" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/QAT.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Qatar</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Ecuador" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/ECU.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Ecuador</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Senegal" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/SEN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Senegal</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Netherlands" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/NED.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Netherlands</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br><br><br>
                                       
                                   
                                    </div> -->
                                </div>
                                                        <div class="tab-pane fade show " id="tabs-B">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group B</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag England" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/ENG.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>England</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Iran" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/IRN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Iran</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag USA" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/USA.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>USA</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Wales" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/WAL.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Wales</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br><br><br>
                                
                          
                                                        <div class="tab-pane fade show " id="tabs-C">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group C</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Argentina" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/ARG.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Argentina</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Saudi Arabia" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/KSA.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Saudi Arabia</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Mexico" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/MEX.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Mexico</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Poland" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/POL.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Poland</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                              
                                     
                                                        <div class="tab-pane fade show " id="tabs-D">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group D</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag France" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/FRA.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>France</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Australia" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/AUS.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Australia</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Denmark" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/DEN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Denmark</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Tunisia" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/TUN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Tunisia</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                              
                               
                                                        <div class="tab-pane fade show " id="tabs-E">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group E</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Spain" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/ESP.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Spain</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Costa Rica" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/CRC.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Costa Rica</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Germany" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/GER.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Germany</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Japan" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/JPN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Japan</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                                   
                                       
                                                        <div class="tab-pane fade show " id="tabs-F">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group F</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Belgium" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/BEL.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Belgium</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Canada" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/CAN.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Canada</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Morocco" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/MAR.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Morocco</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Croatia" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/CRO.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Croatia</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                                     
                                                        <div class="tab-pane fade show " id="tabs-G">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group G</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Brazil" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/BRA.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Brazil</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Serbia" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/SRB.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Serbia</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Switzerland" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/SUI.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Switzerland</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Cameroon" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/CMR.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Cameroon</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                                     
                                                        <div class="tab-pane fade show " id="tabs-H">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-10 col-xl-10 col-sm-12">
                                                    <div class="pricing-box pricing-box-xl pricing-box-novi">
                                                        <div class="pricing-box-header">
                                                            <h4>Group H</h4>
                                                        </div>
                                                        <div class="pricing-box-body">
                                                            <ul class="pricing-box-list">
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Portugal" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/POR.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Portugal</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Ghana" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/GHA.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Ghana</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Uruguay" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/URU.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Uruguay</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                                <li>
                                                                        <div class="unit unit-spacing-sm flex-row align-items-center">
    
                                                                                                                                                                <div class="unit-left">
                                                                                            <img alt="world cup api country flag Republic of Korea" style="height: 25px;" src="https://livescore-api.com/themes/admin/img/KOR.png">
                                                                                        </div>
                                                                                        <div class="unit-body"><span>Republic of Korea</span></div>
                                                                                                                                                            </div>
                                                                    </li>
                                                                                                                        </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br>
                                 
                                                    <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <hr>


    <footer class="py-3 my-4">
        <p style="text-align:center">FIFA World cup 2022</p>
        <p style="text-align:center">GG-Space</p>
        <p class="text-center text-muted">All Rights Reserved</p>
      </footer>


   <script src="core.min.js"></script> 
   <script src="script.js"></script>

    </body>
    </html>