.container{
    /* position: fixed; */
    background-color: aqua;
}


.head{
    background-color: blueviolet;
     display: flex;
   justify-content: center; 
 position: fixed;
    border-radius: 15px;
    width: 100%;
    top:0px;
}






