<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-device, initial-scale=1.0">
    <link rel="stylesheet" href="styles1.css">
    <title>Our Team Sections</title>
</head>
<body>
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="/images/Anas.photo.jpeg" alt="Anas photo">
                    <ul class="social_icon">
                        <li><a href="https://github.com/MdAnas6757"><ion-icon name="logo-github"></ion-icon>
                        </a></li>
                        <li><a href="https://www.linkedin.com/in/mohammad-anas-1552a2229"><ion-icon name="logo-linkedin"></ion-icon><a></li>
                    </ul>
                </div>
                <h3>Mohammad Anas</h3>
                <p class="role">Leader</p>
                <p>Mohammad Anas is a Student of MNNIT ALLAHABAD.
                    I am  from Kanpur,Uttar Pradesh.
                    Currently, pursuing B.Tech from Chemical Branch.
                    I love watching anime.
                </p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="/images/yuvraj.photo.jpeg" alt="yuvi photo">
                    <ul class="social_icon">
                        <li><a href="https://github.com/Yuvraj-varshney"><ion-icon name="logo-github"></ion-icon>
                        </a></li>
                        <li><a href="https://www.linkedin.com/in/yuvraj-varshney-008983227"><ion-icon name="logo-linkedin"></ion-icon><a></li>
                    </ul>
                </div>
                <h3>Yuvraj Varshney</h3>
                <p class="role">Member</p>
                <p>Yuvraj Varshney is a Student of MNNIT ALLAHABAD.
                    He is from Aligarh,Uttar Pradesh.
                    Currently, pursuing B.Tech from Computer Science Branch.
                    He is interested in Web Development.
                </p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="/images/Maail.photo.jpeg" alt="Maail photo">
                    <ul class="social_icon">
                        <li><a href="https://github.com/maailanwar25"><ion-icon name="logo-github"></ion-icon>
                        </a></li>
                        <li><a href="https://www.linkedin.com/in/mohammad-maail-anwar-55aa62225"><ion-icon name="logo-linkedin"></ion-icon><a></li>
                    </ul>
                </div>
                <h3>Mohd Maail Anwar</h3>
                <p class="role">Member</p>
                <p>Mohd Maail Anwar is a Student of MNNIT ALLAHABAD.
                    He is from Firozabad,Uttar Pradesh.
                    Currently, pursuing B.Tech from Computer Science Branch.
                    He is interested in Web Developing.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="social">
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon><a></li>
        </ul>
        <p>Copyright © 2022 CODE Pirates☠| All Rights Reserved</p>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>