<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GG Space</title>
    <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Dancing+Script&family=Signika+Negative:wght@500&family=Smooch+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="front.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:rgb(0, 0, 0)">
        <!-- <div class="container-fluid">
          <a class="navbar-brand" href="#">Code Pirates☠</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link  active.e" aria-current="page" href="/register"><b>FIFA WORLD CUP</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link activ.e" aria-current="page" href="/uefa"><b>CHAMPIONS LEAGUE</b></a>
              </li>
            
              <a class="btn login btn-sm btn-danger" href="/login">Login </a>
            </ul>
           
          </div>
        </div>
      </nav>

<div class="subnav1">
  
    <li style="font-size:30px ;">Code Pirates☠</li>
    <li><a href="/news">News</a></li>
    <li><a href="/discuss">Discuss</a></li>
    <li><a href="/topscorer">Top Players</a></li>
    
    


</div>

 
<div class="know">
  <h1>Keep update yourself in e-Sports world</h1>
  <h6>Our website provides all news and updates of fifa world cup 2022 and champions league.
  </h6>
</div>
 





  


<section id="mid">
  <div class="text">
    <h1 style="text-align:center"><b>END OF AN ERA</b></h1>
    <h3>It might be the last World Cup for <a href="https://www.britannica.com/biography/Lionel-Messi">Lionel Messi</a> and <a href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo">Cristiano Ronaldo</a>. They are two of the best players of their generation and maybe even the greatest players of all time.</h3>
    <h3>Besides them, there are many more that might say goodbye forever. Robert Lewandowski, Neymar, Luis Suárez, Luka Modriç, Manuel Neuer, Thomas Müller, Dani Alves, Sergio Busquets, Pepe and multiple others. Every single one of them was a great player, and all of them deserved our respect one way or another. Let’s hope all of them will be able to deliver another great performance!</h3>
    </div>
    <img src="/images/messi.jpg" style="width: 550px;height:550px"> 
  
  
</section>










<footer>
  <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
      <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
      <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon><a></li>
  </ul>
  <ul class="menu">
      <li><a href="">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="">Contact</a></li>
  </ul>
  <p>Copyright © 2022 CODE Pirates☠| All Rights Reserved</p>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>